<div id="id01" class="w3-modal w3-animate-opacity" [ngStyle]="{'display': isDialogOpen ? 'block' : 'none'}">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-black"> 
      <span (click)="closeDialog()" 
      class="w3-button w3-large w3-display-topright">&times;</span>
      <h2>Edit User</h2>
    </header>
    <div class="w3-container">
      <div *ngIf="userProfile">
        <app-profile [userProfile]="userProfile"></app-profile>
      </div>
    </div>
    <footer class="w3-container w3-black">
      <p>&copy;RD {{editUserId}}</p>
    </footer>
  </div>
</div>