<table class="w3-table-all">
  <thead>
    <tr class="w3-blue">
      <th>ID</th>
      <th>Title</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Industry</th>
      <th>Team</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tr *ngFor="let user of filterList; let i = index">
    <td>{{i}}</td>
    <td>{{user.title}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.role}}</td>
    <td>{{user.industry}}</td>
    <td><a routerLink="/team"
          routerLinkActive="active" 
          routerLinkActiveOptions="{exact: true}"
          class="w3-button w3-green"><i class="fa fa-users"></i></a></td>
    <td><a (click)="openDialog(user._id)"
            class="w3-button w3-grey"><i class="fa fa-bars"></i></a></td>
    <td><span
          [ngClass]="(isSpinner && (isUserId === user._id)) ? 'w3-button w3-black' : 'w3-button w3-red'"
          (click)="removeUser(user._id)">
            <i [ngClass]="(isSpinner && (isUserId === user._id)) ? 'fa fa-refresh' : 'fa fa-trash'"></i>
        </span></td>
  </tr>
</table>

<app-dialog [isDialogOpen]="isDialogOpen"
            (dialogStatus)="toogleDialog()"
            [editUserId]="editUserId"></app-dialog>