<div class="w3-container w3-blue">
  <div class="w3-cell-row">
    <h2>Search Term Form</h2>
  </div>
</div>

<div class="w3-container">
  <div class="w3-cell-row">
    <div class="w3-cell">
      <form [formGroup]="termForm" (ngSubmit)="onSubmit()" class="term-form">
        <label id="term-label">Term</label>
        <input class="w3-input w3-border" type="text" id="term" formControlName="term">
        <p><small><i>- Search by any term which is not into DB will return no results</i></small></p>
        <p><small><i>- Search by any term that matches name will return results (e.g Louis will return 2 users)</i></small></p>
        <div *ngIf="(!termForm.controls['term'].valid && termForm.controls['term'].touched)" class="error">Enter valid term</div>
        <button class="w3-btn w3-blue" id="submit">Submit</button>
        <span *ngIf="isSearchFail" class="search-result-msg">Search did not return any results</span>
      </form>
    </div>
    <div class="w3-cell"></div>
  </div>
</div>
<hr />

<div class="w3-container">
  <div class="w3-cell-row">
    <div>
      <label>Filter by name:</label>
      <select class="w3-input w3-border select" (change)="filterUser(userSelect.value)" #userSelect>
        <option *ngFor="let user of users; let i = index" value={{i}}>{{user.name}}</option>
      </select>
    </div>
    <div>
      <label>Filter by gender:</label>
      <select class="w3-input w3-border select" (change)="filterUserByGender(genderSelect.value)" #genderSelect>
        <option value="M">M</option>
        <option value="F">F</option>
      </select>
    </div>
    <div>
        <button *ngIf="showAll" (click)="showAllUsers()" class="w3-btn w3-green" id="showAll">Show all</button>
    </div>
  </div>
  <div class="w3-cell-row">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-blue">
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tr *ngFor="let user of filterList; let i = index">
        <td>{{i}}</td>
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="w3-container" *ngIf="isServiceFail">
  <p>Service temporarily unavailable</p>
</div>
