<app-header></app-header>
<app-search (termValue)='getUsersByTerm($event)'></app-search>

<div class="w3-container">
  <div class="w3-cell-row">
    <app-filter 
      [users]="users"
      [showAll]="showAll"
      (userIndexValue)="filterUser($event)"
      (genderValue)="filterUserByGender($event)"
      (showAllEvent)="showAllUsers()">
    </app-filter>
  </div>
  <div class="w3-cell-row">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-blue">
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tr *ngFor="let user of filterList; let i = index">
        <td>{{i}}</td>
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="w3-container" *ngIf="isServiceFail">
  <p>Service temporarily unavailable</p>
</div>
