/* You can add global styles to this file, and also import other style files */
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://www.w3schools.com/w3css/4/w3pro.css');
@import url('https://www.w3schools.com/lib/w3-theme-red.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css');

.w3-container {
    margin-bottom: 20px;
}
.term-form input {
    width: 45%;
}
.term-form .search-result-msg {
    margin-left: 10px;
}
.select {
    margin-bottom: 10px;
}
.term-form .error {
    color: #ff0000;
}
button#submit {
    margin-top: 10px;
}
button#showAll {
    margin-bottom: 10px;
}
hr {
    margin: 40px 0;
    height: 1px;
    background-color: #d7d7d7;
}

