/* You can add global styles to this file, and also import other style files */
@import url('https://www.w3schools.com/w3css/4/w3.css');

.w3-container {
    margin-bottom: 20px;
}
.term-form input {
    width: 45%;
}
.select {
    width: 25%;
    margin-bottom: 10px;
}
.term-form .error {
    color: #ff0000;
}
button#submit {
    margin-top: 10px;
}
button#showAll {
    margin-bottom: 10px;
}

